# =========================
# DATABASE
# =========================
DB_URL=
URL_SERVICE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
SERVER_PORT=

# =========================
# MAIL
# =========================
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# =========================
# APPLICATION
# =========================
ADMIN_EMAIL=
ADMIN_PASSWORD=
BASE_URL=/var/www/mcfs/uploads/images/profile