<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Logout to end your current session.</p>
            </div>
            <div class="modal-footer">
                 <button class="btn btn-sm btn-warning" data-dismiss="modal" aria-label="Close">
                    Cancel
                </button>
                <a class="btn btn-sm btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Floating Alerts -->
<div th:if="${message}" id="floatingAlertSuccess"
    class="alert alert-success alert-dismissible fade show position-fixed shadow"
    role="alert"
    style="z-index: 1080; min-width: 300px; top: 20px; right: 20px;">

    <i class="fas fa-check-circle mr-2"></i>
    <strong th:text="${message}">Success!</strong>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:if="${error}" id="floatingAlertError"
    class="alert alert-danger alert-dismissible fade show position-fixed shadow"
    role="alert"
    style="z-index: 1080; min-width: 300px; top: 20px; right: 20px;">

    <i class="fas fa-exclamation-triangle mr-2"></i>
    <strong th:text="${error}">Error!</strong>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- End Floating Alerts-->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
<script th:src="@{/js/demo/chart-bar-demo.js}"></script>