<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
    <meta name="description" content="MCFS Employee Edit page">
    <meta name="author" content="mfano">
    <title>MCFS | Edit Employee</title>
</th:block>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:insert="~{partials/_sidebar}" />
        <!-- End Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:insert="~{partials/_topbar}" />
                <!-- End Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" style="width: 80%">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-user-edit mr-2"></i>Edit Employee</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}"><i class="fas fa-home"></i> Admin Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/hr/employees}">Employees</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
                            </ol>
                        </nav>
                    </div>

                    <form th:action="@{/hr/employees}" th:object="${employee}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <input type="hidden" th:field="*{id}" />

                        <div class="row">
                            <!-- Left Column -->
                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Personal Information</h6>
                                    </div>
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="ddlTitleEdit" class="col-sm-4 col-form-label">Title</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlTitleEdit" th:field="*{title}">
                                                    <option value="">- SELECT -</option>
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Ms.">Ms.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                    <option value="Dr.">Dr.</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtInitialsEdit" class="col-sm-4 col-form-label">Initials</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="txtInitialsEdit" th:field="*{initials}" placeholder="J.K">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtSSNEdit" class="col-sm-4 col-form-label">SSN / ID No</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="txtSSNEdit" th:field="*{socialSecurityNumber}" placeholder="Social Security Number">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtFirstnameEdit" class="col-sm-4 col-form-label">Firstname</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="txtFirstnameEdit" th:field="*{firstname}" placeholder="Firstname" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtLastnameEdit" class="col-sm-4 col-form-label">Lastname</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="txtLastnameEdit" th:field="*{lastname}" placeholder="Lastname" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtOthernameEdit" class="col-sm-4 col-form-label">Othername</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="txtOthernameEdit" th:field="*{othername}" placeholder="Othername">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="ddlGenderEdit" class="col-sm-4 col-form-label">Gender</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlGenderEdit" th:field="*{gender}">
                                                    <option value="">- SELECT -</option>
                                                    <option value="MALE">MALE</option>
                                                    <option value="FEMALE">FEMALE</option>
                                                    <option value="OTHER">OTHER</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="ddlNationalityEdit" class="col-sm-4 col-form-label">Nationality</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlNationalityEdit" th:field="*{countryid}">
                                                    <option value="">- SELECT -</option>
                                                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.description}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtDateOfBirthEdit" class="col-sm-4 col-form-label">Date of Birth</label>
                                            <div class="col-sm-8">
                                                <input type="date" class="form-control" id="txtDateOfBirthEdit" th:field="*{dateOfBirth}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtAddressEdit" class="col-sm-4 col-form-label">Address</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" id="txtAddressEdit" th:field="*{address}" placeholder="Address" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Right Column -->
                            <div class="col-lg-6">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Employment Details</h6>
                                    </div>
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="ddlMaritalStatusEdit" class="col-sm-4 col-form-label">Marital Status</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlMaritalStatusEdit" th:field="*{maritalStatus}">
                                                    <option value="">- SELECT -</option>
                                                    <option value="Single">Single</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Divorced">Divorced</option>
                                                    <option value="Widowed">Widowed</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="ddlEmployeeTypeEdit" class="col-sm-4 col-form-label">Employee Type</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlEmployeeTypeEdit" th:field="*{employeetypeid}">
                                                    <option value="">- SELECT -</option>
                                                    <option th:each="employeeType : ${employeeTypes}" th:value="${employeeType.id}" th:text="${employeeType.description}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtHireDateEdit" class="col-sm-4 col-form-label">Hire Date</label>
                                            <div class="col-sm-8">
                                                <input type="date" class="form-control" id="txtHireDateEdit" th:field="*{hireDate}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="ddlStateEdit" class="col-sm-4 col-form-label">State/Province</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlStateEdit" th:field="*{stateid}">
                                                    <option value="">- SELECT -</option>
                                                    <option th:each="state : ${states}" th:value="${state.id}" th:text="${state.name}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtCityEdit" class="col-sm-4 col-form-label">City</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="txtCityEdit" th:field="*{city}" placeholder="City">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtPhoneEdit" class="col-sm-4 col-form-label">Phone</label>
                                            <div class="col-sm-8">
                                                <input type="tel" class="form-control" id="txtPhoneEdit" th:field="*{phone}" placeholder="Phone">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtMobileEdit" class="col-sm-4 col-form-label">Mobile</label>
                                            <div class="col-sm-8">
                                                <input type="tel" class="form-control" id="txtMobileEdit" th:field="*{mobile}" placeholder="Mobile">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="txtEmailEdit" class="col-sm-4 col-form-label">Email</label>
                                            <div class="col-sm-8">
                                                <input type="email" class="form-control" id="txtEmailEdit" th:field="*{email}" placeholder="email@example.com">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="ddlJobTitleEdit" class="col-sm-4 col-form-label">Job Title</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" id="ddlJobTitleEdit" th:field="*{jobtitleid}">
                                                    <option value="">- SELECT -</option>
                                                    <option th:each="jobTitle : ${jobTitles}" th:value="${jobTitle.id}" th:text="${jobTitle.description}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="fupImageEdit" class="col-sm-4 col-form-label">Profile Photo</label>
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="fupImageEdit" name="photo" accept="image/*">
                                                    <label class="custom-file-label" for="fupImageEdit">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Action Buttons -->
                        <div class="card shadow mb-4">
                            <div class="card-body text-right">
                                <a th:href="@{/hr/employees}" class="btn btn-secondary">
                                    <i class="fas fa-times mr-1"></i> Cancel
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-save mr-1"></i> Save Employee
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:insert="~{partials/_footer}" />
            <!-- End Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scripts -->
    <th:block th:insert="~{partials/_scripts}" />
    <script>
        // Show file name in custom file input
        $('#fupImageEdit').on('change',function(e){
            var fileName = e.target.files[0].name;
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
    <!-- End Scripts -->
</body>
</html>